# Exercice 1 
### Firas Kahlaoui 3 BD 1

In [1]:
library(readxl)

Warning message:
"package 'readxl' was built under R version 4.4.2"

In [2]:
# Read the Excel file
data <- read_excel("./data/exercice2.xlsx")
# Display the first few rows of the data
head(data)
str(data)

  Continente Dis Mag Value nombre total de décès Total Affecté
1 2          8               12                      40
2 3          7              476                  141277
3 2          7                3                      15
4 4          7             1250                  134250
5 3          7               31                     200
6 1          8              100                    2000
  Total des dommages ('000 US $)
1 500000
2 100000
3   7310
4   6000
5   3150
6  25000

tibble [108 × 5] (S3: tbl_df/tbl/data.frame)
 $ Continente                    : num [1:108] 2 3 2 4 3 1 2 4 3 2 ...
 $ Dis Mag Value                 : num [1:108] 8 7 7 7 7 8 7 6 6 8 ...
 $ nombre total de décès         : num [1:108] 12 476 3 1250 31 100 400 2 38 4 ...
 $ Total Affecté                 : num [1:108] 40 141277 15 134250 200 ...
 $ Total des dommages ('000 US $): num [1:108] 500000 100000 7310 6000 3150 25000 125000 2000 8000 400 ...