# Exercice 1 
### Firas Kahlaoui 3 BD 1

In [10]:
library(readxl)
library(nnet)

In [11]:
# Read the Excel file
data <- read_excel("./data/exercice2.xlsx")
# Display the first few rows of the data
head(data)
str(data)

  Continente Dis_Mag_Value nombre_total_de_deces Total_Affecte
1 2          8               12                      40
2 3          7              476                  141277
3 2          7                3                      15
4 4          7             1250                  134250
5 3          7               31                     200
6 1          8              100                    2000
  Total_des_dommages
1 500000
2 100000
3   7310
4   6000
5   3150
6  25000

tibble [108 × 5] (S3: tbl_df/tbl/data.frame)
 $ Continente           : num [1:108] 2 3 2 4 3 1 2 4 3 2 ...
 $ Dis_Mag_Value        : num [1:108] 8 7 7 7 7 8 7 6 6 8 ...
 $ nombre_total_de_deces: num [1:108] 12 476 3 1250 31 100 400 2 38 4 ...
 $ Total_Affecte        : num [1:108] 40 141277 15 134250 200 ...
 $ Total_des_dommages   : num [1:108] 500000 100000 7310 6000 3150 25000 125000 2000 8000 400 ...

## Expliquer la variable continente

In [12]:
model <- multinom(Continente ~ Dis_Mag_Value + nombre_total_de_deces
                  + Total_Affecte + Total_des_dommages, data = data)

# weights:  30 (20 variable)

initial  value 173.819295
iter  10 value 165.148541
iter  20 value 131.900368
iter  30 value 125.614527
iter  40 value 125.098755
iter  50 value 124.569999
iter  60 value 123.846741
iter  70 value 122.842655
iter  80 value 122.716010
final  value 122.714668
converged